html {
    font-size: 14px;
    color: black;
}

body {
    margin: 0px;
    background-color: #fff;
}

#intro_wrapper {
    width: 100%;
    height: 56.25%;
    position: relative;
}

#logo {
    position: absolute;
    margin-left: 15%;
    margin-right: 15%;
    top: 50%;
    transform: translateY(-65%);
}

h1 {
    font-family: 'helvetica_neueregular', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    line-height: 2.4rem;
}

h2 {
    font-family: 'apercumono', Courier, sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3 {
    font-family: 'apercumono', Courier, sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
}

p {
    font-family: 'apercumono', Courier, sans-serif;
    font-size: 1rem;
}

section h1 {
    padding-bottom: 0.8rem;
    position: relative;
    display: block;
}

section p {
    padding-bottom: 1rem;
    position: relative;
    display: block;
    margin: auto 10%;
    line-height: 1.35rem;
}

section {
    background-size: cover;
    position: relative;
    display: table;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    min-height: 16rem;
}

section > div {
    display: table-cell;
    position: relative;
    padding: 4rem 1rem;
    vertical-align: middle;
}

section ul {
    list-style: none;
}

section li {
    float: left;
    display: inline-block;
    position: relative;
    font-size: 0;
}

section li div.work_shade {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
}

section li div.work_content {
    color: white;
    font-size: 1.8rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

div.work_content h2 {
    font-family: 'helvetica_neueregular', Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    margin-bottom: 0;
}

section li img {
    width: 100%;
}

section ul#col-3 li {
    width: 33%;
}

ul#col-3 p {
    padding-bottom: 0;
    position: relative;
    display: block;
    margin: auto 2rem;
    line-height: 1.2rem;
    text-align: left;
    font-size: 0.8rem;
}

section#people ul#people {
    margin-top: 10rem;
}

ul#people li {
    width: 33%;
}

ul#people li img {
    border-radius: 9999px;
    width: 50%;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

ul#people p {
    padding-bottom: 0.2rem;
}

section#clients div > p, section#people div > p {
    margin-left: 10rem;
    margin-right: 10rem;
}

section#people div, section#contact div {
    background-color: rgba(0,0,0,0.6);
}

section#people {
    color: white;
}

section#contact div {
    color: white;
}

a {
    color: white;
}

a.button {
    text-decoration: none;
    font-family: 'apercumono', Courier, sans-serif;
    border: 1px solid;
    border-radius: 999px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;
    display: inline-block;
}

.logos li {
    width: 33%;
}

.salmon {
    color: #FC5B5D;
}

a.button.salmon {
    border-color: #FC5B5D;
}

section.salmon {
    background-color: #FC5B5D;
    color: white;
}

section.yellow {
    background-color: #FBF861;
}

section.greenish {
    background-color: #849E8B;
    color: #FBF861;
}

section.black {
    background-color: black;
    color: white;
}
