html {
    font-size: 14px;
    color: black;
}

body {
    margin: 0px;
    background-color: #fff;
}

.salmon {
    background-color: #FC5B5D;
    color: white;
}

.salmon .button {
    color: white;
    border-color: white;
}

.salmon .button:hover {
    color: #FC5B5D;
    background-color: white;
    border-color: white;
}

.yellow {
    background-color: #FBF861;
    color: black;
}

.yellow .button {
    color: black;
    border-color: black;
}

.yellow .button:hover {
    color: #FBF861;
    background-color: black;
    border-color: black;
}

.greenish {
    background-color: #849E8B;
    color: #FBF861;
}

.greenish .button {
    color: #FBF861;
    border-color: #FBF861;
}

.greenish .button:hover {
    color: #849E8B;
    background-color: #FBF861;
    border-color: #FBF861;
}

.purple {
    background-color: #8C47D6;
    color: white;
}

.purple .button {
    color: white;
    border-color: white;
}

.purple .button:hover {
    color: #8C47D6;
    background-color: white;
    border-color: white;
}

.black {
    background-color: black;
    color: white;
}

.black .button {
    color: white;
    border-color: white;
}

.black .button:hover {
    color: black;
    background-color: white;
    border-color: white;
}

#intro_wrapper {
    width: 100%;
    /*height: 56.25%;*/
    position: relative;
}

#logo {
    position: absolute;
    margin-left: 15%;
    margin-right: 15%;
    top: 50%;
    transform: translateY(-65%);
    -webkit-transform: translateY(-65%);
    -moz-transform: translateY(-65%);
    -ms-transform: translateY(-65%);
    -o-transform: translateY(-65%);
}

h1 {
    font-family: 'helvetica_neueregular', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    line-height: 2.4rem;
}

h2 {
    font-family: 'apercumono', Courier, sans-serif;
    font-size: 1rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

h3 {
    font-family: 'apercumono', Courier, sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
}

p {
    font-family: 'apercumono', Courier, sans-serif;
    font-size: 1rem;
}

a {
    color: inherit;
    text-decoration: underline;
}

div#menu_symbol.hidden {
    display: none;
}

div#menu_symbol {
    position: fixed;
    width: 3rem;
    margin: 1rem auto auto 1rem;
    z-index: 1000;
    cursor: pointer;
}

#menu_symbol_cross {
    display: none;
}

#menu_symbol_cross.visible {
    display: block;
}

.menu_symbol_deactive_hover {
    fill: #333;
}

.menu_symbol_active_hover {
    fill: #ccc;
}

.menu_symbol_active {
    fill: #fff;
}

.menu_symbol_deactive {
    fill: #000;
}

div#menu {
    display: none;
}

div#menu.opened {
    background-color: rgba(0,0,0,0.7);
    color: white;
    position: fixed;
    z-index: 900;
    display: table;
    width: 100%;
    height: 100%;
}

div#menu ul {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    list-style: none;
}

div#menu li {
    font-family: 'helvetica_neueregular', Helvetica, Arial, sans-serif;
    font-size: 4rem;
    margin-bottom: 1rem;
}

div#menu li a {
    text-decoration: none;
}

div#menu li a:hover {
    color: #FBF861;
}

div#menu li a:active {
    color: #FC5B5D;
}

section h1 {
    padding-bottom: 0.8rem;
    position: relative;
    display: block;
}

section p {
    padding-bottom: 1rem;
    position: relative;
    display: block;
    margin: auto 10%;
    line-height: 1.45rem;
    letter-spacing: -0.06rem;
}

section {
    background-size: cover;
    background-position-y: 50%;
    background-position-x: 50%;
    position: relative;
    display: table;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    min-height: 20rem;
}

section > div {
    display: table-cell;
    position: relative;
    padding: 4rem 1rem;
    vertical-align: middle;
}

section#process > div {
    padding: 4rem 1rem;
}

section#about > div {
    padding: 7% 1rem;
}

section ul {
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: row;
    -webkit-flex-direction: row;

    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

    justify-content: center;
    -webkit-justify-content: center;
}

section li {
    float: none;
    display: block;

    /* grow shrink basis */
    -webkit-box-flex: 1 1 15rem;
    -moz-box-flex: 1 1 15rem;
    -webkit-flex: 1 1 15rem;
    -ms-flex: 1 1 15rem;
    flex: 1 1 15rem;

    position: relative;
    font-size: 0;
    margin: 0 1rem;
}

section li img {
    width: 30%;
    margin-bottom: 2.5rem;
    margin-top: 0.5rem;
}

.collapsible {
    -webkit-transition: opacity 1s 0s;
    transition: opacity 1s 0s;
}

.expanded {
    visibility: visible;
    opacity: 1;
}

.contracted {
    visibility: hidden;
    opacity: 0;
}

section.show {
    display: table;
}

.show {
    display: block;
}

.hide {
    display: none;
}

li p {
    padding-bottom: 0;
    position: relative;
    display: block;
    margin: 0 0 1.3rem 0;
    line-height: 1.2rem;
    text-align: left;
    font-size: 0.8rem;
}

ul#worklist li {

    /* grow shrink basis */
    -webkit-box-flex: auto;
    -moz-box-flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;

    margin: 0;
    width: auto;
    min-height: 15rem;
}

ul#worklist li.full {
    width: 100%;
}

ul#worklist li.half {
    width: 50%;
}

ul#worklist li.third {
    width: 33.333%;
}

ul#worklist li.fourth {
    width: 25%;
}

ul#worklist li img {
    width: 100%;
    margin: 0;
}

ul#worklist a.shade {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

ul#worklist a.shade:hover {
    background-color: rgba(0,0,0,0);
}

ul#worklist a.shade div {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

ul#worklist h2 {
    display: block;
    font-family: 'helvetica_neueregular', Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    margin: 0 1rem;
    color: white;
}

ul#people li {
    margin-bottom: 2rem;

    /* grow shrink basis */
    -webkit-box-flex: 0 15rem;
    -moz-box-flex: 0 15rem;
    -webkit-flex: 0 15rem;
    -ms-flex: 0 15rem;
    flex: 0 1 15rem;
}

ul#people li img {
    border-radius: 9999px;
    width: 50%;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

ul#people p {
    margin-bottom: 0.2rem;
    text-align: center;
}

section#photo {
    display: block;
}

section#photo > div {
    padding: 0;
    display: block;
}

section#photo img {
    width: 100%;
    margin: 0;
}

section#photo ul {
    display: block;
}

section#photo li {
    display: block;
    flex: none;
    margin: 0;
}

section#clients > div {
    padding: 4rem 15%;
}

section#clients div > p, section#people div > p {
    margin-left: 10rem;
    margin-right: 10rem;
}

section#people div {
    background-color: rgba(0,0,0,0.5);
}

section#people {
    color: white;
}

section.wide > div {
    padding: 4rem 15%;
}

section.photo > div {
    height: 50%;
}

.button {
    text-decoration: none;
    font-family: 'apercumono', Courier, sans-serif;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 999px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;
    display: inline-block;
}

.button:hover {
    background-color: white;
    border-color: white;
    color: black;
}

.button.salmon {
    border-color: #FC5B5D;
    background-color: transparent;
    color: #FC5B5D;
}

.button.salmon:hover {
    background-color: #FC5B5D;
    border-color: #FC5B5D;
}

ul#logos {
    margin-top: 3rem;
}

ul#logos li {
    height: 10rem;

    /* grow shrink basis */

    -webkit-box-flex: 0 0 8rem;
    -moz-box-flex: 0 0 8rem;
    -webkit-flex: 0 0 8rem;
    -ms-flex: 0 0 8rem;
    flex: 0 0 8rem;

    margin: auto 5%;
}

ul#logos li img {
    width: 100%;
    margin: 0;
}

h2.salmon {
    color: #FC5B5D;
    background-color: transparent;
}

@media screen and (min-width: 1320px) {
    section > div {
        padding: 4rem 30%;
    }

    section#process > div {
        padding: 4rem 15%;
    }

    section li {
        /* grow shrink basis */
        -webkit-box-flex: 10rem;
        -moz-box-flex: 10rem;
        -webkit-flex: 10rem;
        -ms-flex: 10rem;
        flex: 10rem;
    }

    ul#worklist li {
        min-height: 25rem;
    }
}

@media screen and (max-width: 1320px) {
    section > div {
        padding: 4rem 26%;
    }

    section#process > div {
        padding: 4rem 15%;
    }

    section li {
        /* grow shrink basis */
        -webkit-box-flex: 10rem;
        -moz-box-flex: 10rem;
        -webkit-flex: 10rem;
        -ms-flex: 10rem;
        flex: 10rem;
    }

    ul#worklist li {
        min-height: 22rem;
    }
}

@media screen and (max-width: 1130px) {
    section > div {
        padding: 4rem 25%;
    }

    section#about > div {
        padding: 8% 1rem;
    }

    div.work_content h2 {
        font-size: 1.2rem;
    }

    div.work_content .button {
        font-size: 0.8rem;
    }

    section#clients div > p {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

@media screen and (max-width: 960px) {
    section > div {
        padding: 4rem 20%;
    }

    section#process > div {
        padding: 4rem 12%;
    }

    section#about > div {
        padding: 10% 8%;
    }

    ul#worklist li.fourth {
        width: 50%;
    }

    ul#worklist li {
        min-height: 18rem;
    }
}

@media screen and (max-width: 770px) {
    section > div {
        padding: 4rem 15%;
    }

    section#process > div {
        padding: 4rem 8%;
    }

    ul#worklist li {
        min-height: 16rem;
    }

    ul#worklist li.third {
        width: 50%;
    }

    ul#logos li {
        margin: auto 0;
    }

    section#people div > p {
        margin: auto 1rem;
    }

    ul#people li {
        margin-bottom: 4rem;
    }

    section.wide > div {
        padding: 4rem 1rem;
    }

}

@media screen and (max-width: 650px) {
    section > div {
        padding: 4rem 12%;
    }

    section li {
        margin-bottom: 2rem;
    }

}

@media screen and (max-width: 550px) {

    section > div {
        padding: 4rem 1rem;
    }

    section#process > div {
        padding: 4rem 10%;
    }

    section li {
        /* grow shrink basis */
        -webkit-box-flex: 15rem;
        -moz-box-flex: 15rem;
        -webkit-flex: 15rem;
        -ms-flex: 15rem;
        flex: 15rem;
    }

    ul#worklist li.half {
        width: 100%;
    }

    ul#worklist li.third {
        width: 100%;
    }

    ul#worklist li.fourth {
        width: 100%;
    }

    section#clients > div {
        padding: 4rem 5%;
    }
}
